<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/dropzone/dropzone.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Paramètres</title>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('../includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Paramètres
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-12 col-md-3 border-end">
                                        <div class="card-body">
                                            <div class="list-group list-group-transparent" role="tablist">
                                                <h4 class="subheader ms-3">Paramètres généraux</h4>
                                                <a href="/settings/birthday" class="list-group-item list-group-item-action d-flex align-items-center">Anniversaire</a>
                                                <a href="/settings/roles" class="list-group-item list-group-item-action d-flex align-items-center">Rôles</a>
                                                <a href="/settings/city" class="list-group-item list-group-item-action d-flex align-items-center">Ville</a>
                                                <a href="/settings/twitch" class="list-group-item list-group-item-action d-flex align-items-center">Twitch</a>
                                                <% if(user.isNitroBooster || user.isAdmin) { %>
                                                <h4 class="subheader ms-3 mt-4">Avantages Nitro Booster</h4>
                                                <a href="/settings/card" class="list-group-item list-group-item-action active">Image de carte Cube-Stalker</a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 d-flex flex-column">
                                        <div class="card-body">
                                            <h2 class="mb-4">Image de carte Cube-Stalker</h2>

                                            <% if(card) { %>
                                                <% if(card.status === 0) { %>
                                                <div class="alert alert-info" id="card-alert" role="alert">
                                                    <h4 class="alert-title">Image de carte en attente d'approbation</h4>
                                                    <div class="text-secondary">
                                                        Votre image de carte Cube-Stalker est en attente d'approbation de la part d'un administrateur/modérateur.<br>
                                                        Vous serez avertis lorsque celle-ci aura été approuvée ou non.<br>
                                                        Vous pouvez annuler cette demande d'approbation en <a href="#" id="remove">cliquant ici</a>.
                                                    </div>
                                                </div>
                                                <% } else if(card.status === 1) { %>
                                                <div class="alert alert-success" id="card-alert" role="alert">
                                                    <h4 class="alert-title">Image de carte approuvée</h4>
                                                    <div class="text-secondary">
                                                        Votre image de carte Cube-Stalker a été approuvée par un administrateur/modérateur.<br>
                                                        Vous pouvez revenir à la carte par défaut à tout moment en <a href="#" id="remove">cliquant ici</a>.
                                                    </div>
                                                </div>
                                                <% } else if(card.status === 2) { %>
                                                <div class="alert alert-danger" id="card-alert" role="alert">
                                                    <h4 class="alert-title">Image de carte refusée</h4>
                                                    <div class="text-secondary">
                                                        Votre image de carte Cube-Stalker a été refusée par un administrateur/modérateur.
                                                    </div>
                                                </div>
                                                <% } %>
                                            <% } %>

                                            <div class="row">
                                                <div class="col-12 mb-3">
                                                    <label class="form-label">Importer une image</label>
                                                    <form class="dropzone dz-clickable text-center" id="dropzone-custom" action="./" autocomplete="off" novalidate="">
                                                        <div class="dz-message">
                                                            <h3 class="dropzone-msg-title">Glissez votre image ici</h3>
                                                            <span class="dropzone-msg-desc">Fichiers .jpeg, .png, .webp supportés</span>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-12">
                                                    <label class="form-label">Aperçu</label>
                                                    <div id="card-preview">
                                                        <img src="/settings/card/preview?t=<%= Date.now() %>" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-auto ms-auto">
                                            <button type="button" class="btn btn-success" id="save" disabled>Sauvegarder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/libs/dropzone/dropzone.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <script>
        const $btnRemove = document.querySelector('#remove')
        const $btnSave = document.querySelector('#save')

        const $cardPreview = document.querySelector('#card-preview')
        const $img = $cardPreview.querySelector('img')

        Dropzone.options.dropzoneCustom = {
            url: '/settings/card/upload',
            acceptedFiles: '.jpeg,.jpg,.png,.webp',
            maxFiles: 1,
            addRemoveLinks: true,
            dictCancelUpload: 'Annuler',
            dictCancelUploadConfirmation: 'Confirmer',
            dictRemoveFile: 'Supprimer',
            init: function() {
                const self = this

                this.on('processing', async (file) => {
                    $btnSave.setAttribute('disabled', '')
                })

                this.on('removedfile', (file) => {
                    const af = this.getAcceptedFiles()
                    if(af.length === 0) {
                        $btnSave.setAttribute('disabled', '')
                        $img.src = `/settings/card/preview?t=${Date.now()}`
                    }
                })

                this.on('success', async (file, res) => {
                    $img.src = res.data
                    $btnSave.removeAttribute('disabled')
                })

                this.on('error', async (file, message) => {
                    $btnSave.setAttribute('disabled', '')
                })

                this.on('maxfilesexceeded', (file) => {
                    console.log('maxfilesexceeded')
                    const files = [ ...this.getAcceptedFiles(), ...this.getRejectedFiles() ]
                    for(const f of files) {
                        this.removeFile(f)
                    }
                    this.addFile(file)
                })
            }
        }

        if($btnRemove) {
            $btnRemove.addEventListener('click', async (e) => {
                e.preventDefault()

                const c = confirm('Êtes-vous sûr(e) ?')

                if(!c) return

                const removeRequest = await fetch('/settings/card/remove', {
                    method: 'POST'
                })

                if(removeRequest.ok) {
                    const $cardAlert = document.querySelector('#card-alert')
                    $cardAlert.remove()
                    $img.src = `/settings/card/preview?t=${Date.now()}`
                    showAlert(true, 'Votre image de carte a été supprimée', 5000)
                } else {
                    showAlert(false, removeRequest.headers.get('X-Status-Message') ?? '', 5000)
                }
            })
        }

        $btnSave.addEventListener('click', async (e) => {
            $btnSave.classList.add('btn-loading')
            
            const saveRequest = await fetch('/settings/card', {
                method: 'POST'
            })

            if(saveRequest.ok) {
                window.location.reload()
            } else {
                showAlert(false, saveRequest.headers.get('X-Status-Message') ?? '', 5000)
            }

            $btnSave.classList.remove('btn-loading')
        })
    </script>
</body>
</html>