{% extends 'base.html.twig' %}

{% block title %}Beat Saber France{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="bsfr text-center">
            <img class="logo mb-3" src="{{ asset("build/logo.gif") }}" alt="Logo BSFR"/>
            <h1 class="mb-3">Beat Saber France</h1>
            <h3 class="mb-3"><i class="fas fa-exclamation-triangle"></i> Le site est en construction <i class="fas fa-exclamation-triangle"></i></h3>
            <a class="btn btn-discord" href="{{ discord_invite }}" target="_blank">
                <span class="d-flex align-items-center"><i class="fab fa-discord me-2"></i>Rejoindre le discord</span>
            </a>
        </div>
    </div>
{% endblock %}
