<div
  class="h-20 w-full px-4 grid md:grid-cols-[auto_1fr] grid-cols-[auto_1fr_auto] md:gap-8 gap-0 items-center rounded-md">
  <div class="">
    <a
      routerLink="/"
      routerLinkActive=""
      [routerLinkActiveOptions]="{ exact: true }">
      <img
        src="images/logo/transparent_animated.webp"
        alt="Logo BSFR"
        width="48"
        height="48" />
    </a>
  </div>
  <div
    class="md:flex md:gap-2 md:justify-end md:whitespace-nowrap md:items-center text-[var(--text-color)] hidden">
    @for (menuItem of menuItems; track menuItem.label) {
      <p-button
        pRipple
        [label]="menuItem.label"
        [text]="!rla.isActive"
        [routerLink]="menuItem.path"
        routerLinkActive=""
        [routerLinkActiveOptions]="{ exact: true }"
        #rla="routerLinkActive" />
    }
    <div *ngIf="logged$ | async as logged; else userNotLogged">
      <div *ngIf="user$ | async as user; else userLoading">
        <p-avatar
          [image]="user.avatarURL"
          size="large"
          shape="circle"
          class="ms-3 cursor-pointer"
          (click)="avatarMenu.toggle($event)" />
        <p-tieredMenu #avatarMenu [model]="userMenuItems" [popup]="true">
          <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
            <ng-container *ngIf="item.route; else withoutRoute">
              <a
                [routerLink]="item.route"
                [href]="item.href"
                class="p-menuitem-link py-3"
                (click)="item.action()">
                <span
                  [innerHTML]="item.featherIcon | svg: '16'"
                  class="flex items-center"></span>
                <span class="ml-2">{{ item.label }}</span>
              </a>
            </ng-container>
            <ng-template #withoutRoute>
              <ng-container *ngIf="item.url; else withoutUrl">
                <a
                  [href]="item.url"
                  [target]="item.target"
                  class="p-menuitem-link py-3">
                  <span
                    [innerHTML]="item.featherIcon | svg: '16'"
                    class="flex items-center"></span>
                  <span class="ml-2">{{ item.label }}</span>
                  <span
                    *ngIf="hasSubmenu"
                    class="pi pi-angle-right ml-auto"></span>
                </a>
              </ng-container>
              <ng-template #withoutUrl>
                <a class="p-menuitem-link py-3">
                  <span
                    [innerHTML]="item.featherIcon | svg: '16'"
                    class="flex items-center"></span>
                  <span class="ml-2">{{ item.label }}</span>
                  <span
                    *ngIf="hasSubmenu"
                    class="pi pi-angle-right ml-auto"></span>
                </a>
              </ng-template>
            </ng-template>
          </ng-template>
        </p-tieredMenu>
      </div>
      <ng-template #userLoading>
        <p-button [loading]="true" disabled="true" [text]="true" size="large" />
      </ng-template>
    </div>
    <ng-template #userNotLogged>
      <p-button
        pRipple
        icon="pi pi-user"
        [text]="true"
        size="large"
        (click)="login()" />
    </ng-template>
  </div>
  <div class="block md:hidden justify-self-end">
    <p-button
      icon="pi pi-bars"
      [text]="true"
      size="large"
      (onClick)="setIsOpen(!isOpen)" />
  </div>
</div>
<div
  [classList]="
    'fixed z-10 top-0 left-0 bottom-0 right-0 bg-black/50 md:hidden transition-opacity duration-300 ' +
    (isOpen
      ? 'opacity-100 pointer-events-auto'
      : 'opacity-0 pointer-events-none')
  "
  (click)="setIsOpen(false)"></div>
<div
  [classList]="
    'h-full w-[300px] max-w-[80%] fixed z-20 top-0 p-4 md:hidden grid grid-rows-[100px_1fr_auto] grid-cols-1 bg-black transition-all duration-300 overflow-y-scroll ' +
    (isOpen ? 'left-0' : '-left-[300px]')
  ">
  <div class="place-self-center">
    <img src="images/logo/transparent_animated.webp" alt="Logo BSFR" width="64" height="64" />
  </div>
  <ul class="list-none p-0 m-0">
    <li>
      @for (menuItem of menuItems; track menuItem.label) {
        <p-button
          pRipple
          styleClass="w-full p-4"
          [text]="!rla.isActive"
          [routerLink]="menuItem.path"
          routerLinkActive=""
          [routerLinkActiveOptions]="{ exact: true }"
          #rla="routerLinkActive">
          <span
            [innerHTML]="menuItem.icon | svg: '16'"
            class="me-3 flex items-center"></span>
          <span>{{ menuItem.label }}</span>
        </p-button>
      }
    </li>
  </ul>
  <div>
    <p-divider />
    <div
      class="grid grid-cols-[1fr_auto] gap-2"
      *ngIf="user$ | async as user; else userNotLoggedMobile">
      <p-button pRipple [text]="true" styleClass="w-full p-4">
        <p-avatar
          [image]="user.avatarURL"
          styleClass="me-4 flex items-center"
          size="large"
          shape="circle" />
        <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{
          user.username
        }}</span>
      </p-button>
      <p-button
        pRipple
        [text]="true"
        styleClass="w-full h-full p-4"
        (click)="logout()">
        <span [innerHTML]="icons.logout | svg" class="flex items-center"></span>
      </p-button>
    </div>
    <ng-template #userNotLoggedMobile>
      <p-button
        pRipple
        [text]="true"
        styleClass="w-full p-4 flex justify-between"
        (click)="login()">
        <span>Connexion</span>
        <span
          [innerHTML]="icons.login | svg"
          class="me-3 flex items-center"></span>
      </p-button>
    </ng-template>
  </div>
</div>
