<p-card styleClass="bg-transparent">
  <p-messages
    [enableService]="false"
    [value]="helpMessage"
    escape="false"
    [showTransitionOptions]="'0ms'"
    styleClass="mb-6" />

  <label for="twitch_channel" class="font-bold block mb-2"
    >Nom de votre chaîne Twitch</label
  >

  <p-inputGroup>
    <p-inputGroupAddon>https://www.twitch.tv/</p-inputGroupAddon>
    <input
      type="text"
      pInputText
      id="twitch_channel"
      autocomplete="off"
      [(ngModel)]="channelName"
      (keyup)="channelNameUpdated()" />
  </p-inputGroup>

  <div class="flex items-center mt-6">
    <p-button
      label="Sauvegarder"
      severity="success"
      class="ms-auto"
      icon="pi pi-save"
      [disabled]="!canSave"
      [loading]="saving"
      (onClick)="save()" />
  </div>
</p-card>
