.form-title {
  border-top: 10px solid #673AB7;
}

.form-entry {
  background: white;
  border-radius: 10px;
  padding: 20px;

  label {
    font-size: 20px;
    font-weight: bold;
  }
}

.required {
  &:after {
    content: " \002A";
    color: red;
  }
}