<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <title>Beat Saber FR - Vous n'êtes pas autorisé à accéder à cette page</title>
</head>
<body class="d-flex flex-column">
    <div class="background"><div class="blur"></div></div>

    <div class="page page-center">
        <div class="container-xs py-4">
            <div class="empty">
                <div class="empty-header">403</div>
                <p class="empty-title text-muted">
                    Vous n'êtes pas autorisé à accéder à cette page
                </p>
                <div class="empty-action">
                    <a href="/" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="5" y1="12" x2="19" y2="12" /><line x1="5" y1="12" x2="11" y2="18" /><line x1="5" y1="12" x2="11" y2="6" /></svg>
                        Retour
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
</body>
</html>