#rankedle > * {
    user-select: none;
}

#rankedle .step {
    min-height: 38px;
    border: 1px solid var(--tblr-border-color);
}

#rankedle .step.step-active {
    border-color: var(--tblr-primary);
}

#rankedle .step .icon {
    min-width: 32px;
}

#rankedle #play-btn {
    width: 56px;
    height: 56px;
    padding: 10px;
    color: var(--tblr-body-color);
    border: 2px solid var(--tblr-body-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
}

#rankedle #progress {
    position: relative;
    background: #f1f5f9;
    height: 24px;
}

#rankedle #progress #seek-bar {
    position: relative;
}

#rankedle #progress #seek-bar-placeholder {
    position: absolute;
    background: #c8d3e1;
}

#rankedle #progress .progress-step {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #9ba9be;
}

#rankedle .time {
    width: 60px;
    font-size: 1.1rem;
    font-weight: 500;
}

#rankedle .try {
    display: inline-block;
    width: 25px;
    height: 5px;
    margin: 0 2px;
}

#rankedle .try.try-gray {
    background: var(--tblr-muted);
}

#rankedle .try.try-red {
    background: var(--tblr-danger);
}

#rankedle .try.try-green {
    background: var(--tblr-success);
}

#rankedle #ranking {
    max-height: 35rem;
}

.modal .modal-footer {
    --tblr-modal-footer-border-width: 0;
    padding-top: 0;
}