#rankedle > * {
    user-select: none;
}

#rankedle .step {
    min-height: 46px;
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent);
}

#rankedle .step.step-active {
    border-color: var(--tblr-info);
}

#rankedle .step.step-skip {
    border-color: var(--tblr-gray-400);
    color: var(--tblr-gray-400);
}

#rankedle .step.step-fail {
    border-color: var(--tblr-danger);
    color: var(--tblr-danger);
}

#rankedle .step .icon {
    color: inherit;
}

#rankedle #play-btn {
    width: 56px;
    height: 56px;
    padding: 11px;
    color: var(--tblr-primary);
    border: 1px solid var(--tblr-primary);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
}

#rankedle #progress {
    position: relative;
    background: #f1f5f9;
    height: 24px;
}

#rankedle #progress #seek-bar {
    position: relative;
}

#rankedle #progress #seek-bar-placeholder {
    position: absolute;
    background: #c8d3e1;
}

#rankedle #progress .progress-step {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #9ba9be;
}

#rankedle .time {
    width: 60px;
    font-size: 1.1rem;
    font-weight: 500;
}

#ranking {
    max-height: 35rem;
}