.btn-discord {
    --tblr-btn-border-color: transparent;
    --tblr-btn-hover-border-color: transparent;
    --tblr-btn-active-border-color: transparent;
    --tblr-btn-color: var(--tblr-light);
    --tblr-btn-bg: #5865f2;
    --tblr-btn-hover-color: var(--tblr-light);
    --tblr-btn-hover-bg: rgba(88, 101, 242, .8);
    --tblr-btn-active-color: var(--tblr-light);
    --tblr-btn-active-bg: rgba(88, 101, 242, .8);
    --tblr-btn-disabled-bg: #5865f2;
    --tblr-btn-disabled-color: var(--tblr-light);
    --tblr-btn-box-shadow: var(--tblr-shadow-button), var(--tblr-shadow-button-inset);
}

.btn-twitch {
    --tblr-btn-border-color: transparent;
    --tblr-btn-hover-border-color: transparent;
    --tblr-btn-active-border-color: transparent;
    --tblr-btn-color: var(--tblr-light);
    --tblr-btn-bg: #6441a5;
    --tblr-btn-hover-color: var(--tblr-light);
    --tblr-btn-hover-bg: rgba(100, 65, 165, .8);
    --tblr-btn-active-color: var(--tblr-light);
    --tblr-btn-active-bg: rgba(100, 65, 165, .8);
    --tblr-btn-disabled-bg: #6441a5;
    --tblr-btn-disabled-color: var(--tblr-light);
    --tblr-btn-box-shadow: var(--tblr-shadow-button), var(--tblr-shadow-button-inset);
}