<div class="py-6">
  <!-- Page title -->
  <div class="text-white">
    <h2>Rankedle</h2>
  </div>
  <app-not-bsfr-member *ngIf="!isBSFR; else page" />
  <ng-template #page>
    <div
      class="rounded-md bg-black/30 backdrop-blur-[64px] shadow-lg ring-1 ring-white/10">
      <p-tabView
        [(activeIndex)]="activeTab"
        [scrollable]="true"
        (onChange)="onTabChange($event)">
        <!-- Jeu -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="pi pi-play"></span>
              <span class="ms-1">Jeu</span>
            </div>
          </ng-template>
          <ng-container *ngIf="rankedle$ | withLoading | async as rankedle">
            <ng-container *ngIf="rankedle?.loading">
              <p-card styleClass="bg-transparent">
                <p-skeleton height="2rem" width="16rem" styleClass="mb-2" />
              </p-card>
            </ng-container>
            <ng-container *ngIf="rankedle?.value === null">
              <p-card
                header="Pas de Rankedle en cours"
                styleClass="bg-transparent">
                <p-messages
                  [enableService]="false"
                  [(value)]="noRankedleMessage"
                  styleClass="mb-6" />
              </p-card>
            </ng-container>
            <ng-container *ngIf="rankedle.value">
              <p-card
                [header]="
                  'Saison ' +
                  rankedle.value.seasonId +
                  ' — ' +
                  'Rankedle #' +
                  rankedle.value.id
                "
                styleClass="bg-transparent">
              </p-card>
            </ng-container>
          </ng-container>
        </p-tabPanel>
        <!-- Classement -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="pi pi-chart-bar"></span>
              <span class="ms-1">Classement</span>
            </div>
          </ng-template>
          <ng-container *ngIf="ranking$ | withLoading | async as ranking">
            <ng-container *ngIf="ranking?.loading">
              <p-table [value]="[[]]" [tableStyle]="{ 'min-width': '25rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="w-5"></th>
                    <th class="w-2">#</th>
                    <th>Joueur</th>
                    <th style="width: 1%">Points</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body">
                  <ng-container
                    *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                    <tr style="height: 67px">
                      <td><p-skeleton /></td>
                      <td><p-skeleton /></td>
                      <td class="flex items-center">
                        <p-skeleton
                          shape="circle"
                          size="46px"
                          styleClass="me-4" />
                        <p-skeleton width="10rem" />
                      </td>
                      <td><p-skeleton /></td>
                    </tr>
                  </ng-container>
                </ng-template>
              </p-table>
            </ng-container>
            <ng-container *ngIf="ranking?.value === null">
              <p-card styleClass="bg-transparent">
                <p-messages
                  [enableService]="false"
                  [(value)]="noRankingMessage"
                  styleClass="mb-6" />
              </p-card>
            </ng-container>
            <ng-container *ngIf="ranking.value as r">
              <p-table
                [value]="r"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '25rem' }"
                dataKey="memberId"
                [expandedRowKeys]="rankingExpandedRows"
                (onRowExpand)="onRankingRowExpand($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 5rem"></th>
                    <th style="width: 1%">#</th>
                    <th>Joueur</th>
                    <th style="width: 1%">Points</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-ranking
                  let-expanded="expanded">
                  <tr
                    style="height: 67px"
                    [ngClass]="{
                      'ranking-first': ranking.rank === 1,
                      'ranking-second': ranking.rank === 2,
                      'ranking-third': ranking.rank === 3
                    }">
                    <td>
                      <p-button
                        type="button"
                        [pRowToggler]="ranking"
                        [text]="true"
                        [rounded]="true"
                        [plain]="true"
                        [icon]="
                          expanded
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        " />
                    </td>
                    <td>{{ ranking.rank }}</td>
                    <td class="flex items-center">
                      <p-avatar
                        [image]="ranking.avatar"
                        styleClass="me-4"
                        size="large"
                        shape="circle" />
                      <span>
                        {{ ranking.name }}
                      </span>
                    </td>
                    <td>{{ ranking.points }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-playerRanking>
                  <tr>
                    <td colspan="5" class="p-0">
                      <p-table
                        [value]="[playerRanking.stats]"
                        [tableStyle]="{ 'min-width': '92rem' }">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Parties</th>
                            <th>Victoires (%)</th>
                            <th>Série actuelle</th>
                            <th>Meilleure serie</th>
                            <th>1<sup>ère</sup> tentative</th>
                            <th>2<sup>ème</sup> tentative</th>
                            <th>3<sup>ème</sup> tentative</th>
                            <th>4<sup>ème</sup> tentative</th>
                            <th>5<sup>ème</sup> tentative</th>
                            <th>6<sup>ème</sup> tentative</th>
                            <th>Défaites</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-stats>
                          <tr>
                            <td>{{ stats.played }}</td>
                            <td>
                              {{ (stats.won * 100) / stats.played | round }}
                            </td>
                            <td>{{ stats.currentStreak }}</td>
                            <td>{{ stats.maxStreak }}</td>
                            <td>{{ stats.try1 }}</td>
                            <td>{{ stats.try2 }}</td>
                            <td>{{ stats.try3 }}</td>
                            <td>{{ stats.try4 }}</td>
                            <td>{{ stats.try5 }}</td>
                            <td>{{ stats.try6 }}</td>
                            <td>{{ stats.played - stats.won }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-container>
          </ng-container>
        </p-tabPanel>
        <!-- Statistiques -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="pi pi-chart-pie"></span>
              <span class="ms-1">Statistiques</span>
            </div>
          </ng-template>
          <p-card styleClass="bg-transparent">
            <ng-container
              *ngIf="playerStats$ | withLoading | async as playerStats">
              <ng-container *ngIf="playerStats?.value === null">
                <p-messages
                  [enableService]="false"
                  [(value)]="noPlayerStatsMessage"
                  styleClass="mb-6" />
              </ng-container>
              <div class="w-full text-center">
                <div
                  class="grid grid-cols-[repeat(auto-fit,140px)] gap-4 justify-center">
                  <p-card
                    styleClass="ring-1 ring-white/40 bg-white/20 rounded-md flex items-center">
                    <div class="mb-4">Parties</div>
                    <span class="text-3xl/none">
                      <ng-container *ngIf="playerStats.value as stats">
                        {{ stats.played }}
                      </ng-container>
                      <ng-container *ngIf="playerStats?.loading">
                        <p-skeleton height="2rem" />
                      </ng-container>
                      <ng-container *ngIf="playerStats?.value === null"
                        >0</ng-container
                      >
                    </span>
                  </p-card>
                  <p-card
                    styleClass="ring-1 ring-white/40 bg-white/20 rounded-md flex items-center">
                    <div class="mb-4">Victoires (%)</div>
                    <span class="text-3xl/none">
                      <ng-container *ngIf="playerStats.value as stats">
                        {{ (stats.won * 100) / stats.played | round }}
                      </ng-container>
                      <ng-container *ngIf="playerStats?.loading">
                        <p-skeleton height="2rem" />
                      </ng-container>
                      <ng-container *ngIf="playerStats?.value === null"
                        >0</ng-container
                      >
                    </span>
                  </p-card>
                  <p-card
                    styleClass="ring-1 ring-white/40 bg-white/20 rounded-md flex items-center">
                    <div class="mb-4">Série actuelle</div>
                    <span class="text-3xl/none">
                      <ng-container *ngIf="playerStats.value as stats">
                        {{ stats.currentStreak }}
                      </ng-container>
                      <ng-container *ngIf="playerStats?.loading">
                        <p-skeleton height="2rem" />
                      </ng-container>
                      <ng-container *ngIf="playerStats?.value === null"
                        >0</ng-container
                      >
                    </span>
                  </p-card>
                  <p-card
                    styleClass="ring-1 ring-white/40 bg-white/20 rounded-md flex items-center">
                    <div class="mb-4">Meilleure série</div>
                    <span class="text-3xl/none">
                      <ng-container *ngIf="playerStats.value as stats">
                        {{ stats.maxStreak }}
                      </ng-container>
                      <ng-container *ngIf="playerStats?.loading">
                        <p-skeleton height="2rem" />
                      </ng-container>
                      <ng-container *ngIf="playerStats?.value === null"
                        >0</ng-container
                      >
                    </span>
                  </p-card>
                </div>
              
                <div>
                  <h3>Performances</h3>

                  
                </div>
              </div>
            </ng-container>
          </p-card>
        </p-tabPanel>
        <!-- Historique -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="pi pi-history"></span>
              <span class="ms-1">Historique</span>
            </div>
          </ng-template>
          <p-table
            [value]="historyData"
            [paginator]="true"
            [rows]="10"
            [first]="historyFirst"
            [lazy]="true"
            [totalRecords]="historyTotal"
            [tableStyle]="{ 'min-width': '70rem' }"
            [loading]="historyLoading"
            (onPage)="historyPageChange($event)"
            dataKey="history.id">
            <ng-template pTemplate="header">
              <tr>
                <th class="w-3">#</th>
                <th class="max-w-[500px] w-[500px]">Map</th>
                <th class="max-w-[200px] w-[200px]">Mapper</th>
                <th style="width: 1%">Score</th>
                <th style="width: 120px">Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">
                  <p-messages
                    [enableService]="false"
                    [(value)]="noHistoryMessage" />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
              <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                <tr style="height: 67px">
                  <td class="w-3"><p-skeleton /></td>
                  <td class="max-w-[500px] w-[500px] flex items-center">
                    <p-avatar
                      [image]=""
                      styleClass="me-4 rounded-md overflow-hidden"
                      size="large" />
                    <p-skeleton />
                  </td>
                  <td class="max-w-[200px] w-[200px]"><p-skeleton /></td>
                  <td><p-skeleton /></td>
                  <td><p-skeleton /></td>
                </tr>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="body" let-history>
              <tr>
                <td>{{ history.id }}</td>
                <td class="flex items-center">
                  <p-avatar
                    [image]="history.cover"
                    styleClass="me-4 rounded-md overflow-hidden"
                    size="large" />
                  <span
                    class="max-w-[500px] w-[500px] text-ellipsis whitespace-nowrap overflow-hidden">
                    {{ history.songName }}
                  </span>
                </td>
                <td
                  class="max-w-[200px] w-[200px] text-ellipsis whitespace-nowrap overflow-hidden">
                  {{ history.levelAuthorName }}
                </td>
                <td></td>
                <td>{{ history.date }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <!-- Aide -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="pi pi-question-circle"></span>
              <span class="ms-1">Aide</span>
            </div>
          </ng-template>
          <p-card styleClass="bg-transparent">
            <h3 class="mt-0">Comment jouer ?</h3>
            <ul>
              <li>
                Écoutez l'extrait audio, puis recherchez le titre correspondant
                dans la liste
              </li>
              <li>
                Si vous passez ou entrez un titre incorrect, cela étandra la
                durée de l'extrait audio
              </li>
              <li>
                Vous avez un total de 6 tentatives pour parvenir à trouver le
                bon titre
              </li>
              <li>
                Vous gagnez des points si vous parvenez à trouver le bon titre :
              </li>
            </ul>

            <p-table [value]="[[]]" [tableStyle]="{ 'min-width': '60rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>1<sup>ère</sup> tentative</th>
                  <th>2<sup>ème</sup> tentative</th>
                  <th>3<sup>ème</sup> tentative</th>
                  <th>4<sup>ème</sup> tentative</th>
                  <th>5<sup>ème</sup> tentative</th>
                  <th>6<sup>ème</sup> tentative</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body">
                <tr>
                  <td>8 points</td>
                  <td>6 points</td>
                  <td>4 points</td>
                  <td>3 points</td>
                  <td>2 points</td>
                  <td>1 point</td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-template>
</div>
