<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../../includes/meta.ejs') %>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Agent - Paramètres</title>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('../includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Paramètres
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-12 col-md-3 border-end">
                                        <div class="card-body">
                                            <div class="list-group list-group-transparent" role="tablist">
                                                <h4 class="subheader ms-3">Paramètres généraux</h4>
                                                <a href="/agent/settings/dm" class="list-group-item list-group-item-action d-flex align-items-center active">DM</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 d-flex flex-column">
                                        <div class="card-body">
                                            <h2 class="mb-4">DM</h2>

                                            <div>
                                                <div class="form-label">Activer les DM ?</div>
                                                <label class="form-check form-switch">
                                                    <input class="form-check-input" id="dmEnabled" type="checkbox"<%= dmSettings?.enabled === true ? ' checked' : '' %>>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-auto ms-auto">
                                            <button type="button" class="btn btn-success" id="save">Sauvegarder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <script>
        const $btnSave = document.querySelector('#save')
        $btnSave.addEventListener('click', async (e) => {
            $btnSave.classList.add('btn-loading')

            const $dmEnabled = document.querySelector('#dmEnabled')
            
            const saveRequest = await fetch('/agent/settings/dm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    dmSettings: {
                        enabled: $dmEnabled.checked
                    }
                })
            })

            if(saveRequest.ok) {
                showAlert(true, 'Les paramètres ont bien été enregistrés.', 5000)
            } else {
                showAlert(false, saveRequest.headers.get('X-Status-Message') ?? '', 5000)
            }

            $btnSave.classList.remove('btn-loading')
        })
    </script>
</body>
</html>