/* Tailwind CSS */
@layer tailwind-base, primeng, tailwind-utilities;

/* Primeng Settings */
@import 'primeng/resources/primeng.css';
@import 'primeng/resources/themes/aura-dark-blue/theme.css';
@import 'primeicons/primeicons.css';

/* Leaflet */
@import 'leaflet/dist/leaflet.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

a:visited {
    color: var(--primary-color);
}

.p-button {
    color: white;
}

.p-messages .p-message {
    margin: 0;
}

.p-messages .p-message.p-message-info {
    color: #ffffff;
    background: rgba(59, 130, 246, 0.46);
    border: 1px solid rgba(29, 78, 216, 0.66);
}

.p-messages .p-message.p-message-success {
    color: #ffffff;
    background: rgba(34, 197, 94, 0.46);
    border: 1px solid rgba(21, 128, 61, 0.66);
}

.p-messages .p-message.p-message-warn {
    color: #ffffff;
    background: rgba(234, 179, 8, 0.46);
    border: 1px solid rgba(161, 98, 7, 0.66);
}

.p-messages .p-message.p-message-error {
    color: #ffffff;
    background: rgba(239, 68, 68, 0.46);
    border: 1px solid rgba(185, 28, 28, 0.66);
}

.p-messages .p-message.p-message-info .p-message-icon,
.p-messages .p-message.p-message-success .p-message-icon,
.p-messages .p-message.p-message-warn .p-message-icon,
.p-messages .p-message.p-message-error .p-message-icon {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.p-datatable .p-datatable-thead > tr > th {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
}

.p-datatable .p-datatable-tbody > tr {
    background: none;
}

.p-datatable .p-datatable-tbody > tr > td {
    border-color: rgba(255, 255, 255, 0.2);
}

.p-tabmenu .p-tabmenu-nav,
.p-tabview .p-tabview-nav,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-panels {
    background: none;
}

.p-tabview .pi {
    display: flex;
    align-items: center;
}

.p-tabview .pi::before {
    font-size: 16px;
    padding: 1px;
}

.p-tabview .p-tabview-nav-btn.p-link,
.p-paginator {
    background: rgba(24, 24, 27, 0.5);
}

.p-paginator {
    border-bottom: none;
}

.p-tabview .p-tabview-panels {
    padding: 0;
}
